
@model IOrderedEnumerable<KurumsalWeb.Models.Category>
    
<ul class="cat">
    @foreach (var item in Model)
    {
        <li><i class="icon-angle-right"></i><a href="/Home/BlogDetail/@item.CategoryId">@item.CategoryName</a><span> (@item.Blogs.Count())</span></li>
    }
</ul>